@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");


html{
    font-family: "Poppins", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white-color:#fff;
    --black-color:#18191a;
    --primary-color:#b2b2b2;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background: var(--black-color);
    padding: 35px 40px;
    border-radius: 20px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    color: #b2b2b2;
}
header h1{
    font-size: 30px;
}
header .range-button{
    display: flex;
    align-items: center;
}
header .range-button input{
    accent-color: white;
}
header span{
    font-size: 1rem;
    font-weight: 600;
    margin-right: 15px;
}
header .piano-enable-btn{
    display: flex;
    align-items: center;
}
header .piano-enable-btn input{
    position: relative;
    appearance: none;
    width: 60px;
    height: 25px;
    border-radius: 20px;
    background: #4b4b4b;
}
header .piano-enable-btn input::before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--primary-color);
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    transition: all 300ms ease-in;
}
header .piano-enable-btn input:checked::before{
left: 35px;
background: var(--white-color);
}

.key-container .key{
    list-style: none;
    color: var(--primary-color);
    cursor: pointer;
    position: relative;
    user-select: none;
}
.key-container{
    display: flex;
    margin-top: 40px;
}
.key-container .white{
 width: 70px;
 height: 230px;
 border-radius: 8px;
 background: linear-gradient(#fff 96%,#eee 4%);
 border: 1px solid black;

}
.key-container .key.hide span{
    display: none;
}
.key-container .white:active{
    box-shadow: inset -5px 5px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom,#fff 96%,#eee 100%);
}
.key-container .black{
    width: 44px;
    height: 140px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333,#000);
    margin: 0 -22px 0 -22px;
    z-index: 2;
}
.key-container .black:active{
    box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom,#000 96%,#434343 100%);
}
.key-container span{
 position: absolute;
 bottom: 20px;
 width: 100%;
 text-align: center;
}   

@media (max-width: 820px) {
    .container{
        background: var(--black-color);
        padding: 25px 30px;
        border-radius: 20px;
    }
    header{
        flex-wrap: wrap;
    }
    
    header h1{
        font-size: 20px;
    }
    header span{
        font-size: 0.5rem;
        font-weight: 600;
        margin-right: 15px;
    }
    header .piano-enable-btn input{
        position: relative;
        appearance: none;
        width: 40px;
        height: 15px;
        border-radius: 20px;
        background: #4b4b4b;
    }
    header .piano-enable-btn input::before{
        
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: var(--primary-color);
        top: 50%;
        transform: translateY(-50%);
        left: 5px;
        transition: all 300ms ease-in;
    }
   
    header .piano-enable-btn input:checked::before{
        left: 23px;
        background: var(--white-color);
        }
   
    .key-container{
        display: flex;
        margin-top: 30px;
        justify-content: center;

    }
    .key-container .white{
     width: 50px;
     height: 180px;
     border-radius: 8px;
     background: linear-gradient(#fff 96%,#eee 4%);
     border: 1px solid black;
    
    }
    .key-container .key.hide span{
        display: none;
    }
    header .range-button input{
        accent-color: white;
        width: 100px;
        height: 30px;
    }
    
    .key-container .black{
        width: 34px;
        height: 90px;
        margin: 0 -22px 0 -22px;
        z-index: 2;
    }
    
    .key-container span{
     position: absolute;
     bottom: 20px;
     width: 100%;
     text-align: center;
    }   
  }
  
  @media (max-width: 530px) {
    .container{
        background: var(--black-color);
        padding: 25px 30px;
        border-radius: 20px;
    }
    header{
        flex-wrap: wrap;
    }
    
    header h1{
        font-size: 12px;
    }
    header span{
        font-size: 0.4rem;
        font-weight: 400;
        margin-right: 15px;
    }
    header .piano-enable-btn input{
        position: relative;
        appearance: none;
        width: 30px;
        height: 10px;
        border-radius: 20px;
        background: #4b4b4b;
    }
    header .piano-enable-btn input::before{
        
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--primary-color);
        top: 50%;
        transform: translateY(-50%);
        left: 2px;
        transition: all 300ms ease-in;
    }
   
    header .piano-enable-btn input:checked::before{
        left: 18px;
        background: var(--white-color);
        }
   
    .key-container{
        display: flex;
        margin-top: 20px;
        justify-content: center;

    }
    .key-container .white{
     width: 50px;
     height: 180px;
     border-radius: 8px;
     background: linear-gradient(#fff 96%,#eee 4%);
     border: 1px solid black;
    
    }
    .key-container .key.hide span{
        display: none;
    }
    header .range-button input{
        accent-color: white;
        width: 50px;
        height: 20px;
    }
    
    .key-container .black{
        width: 34px;
        height: 90px;
        margin: 0 -22px 0 -22px;
        z-index: 2;
    }
    .key:nth-child(13),
    .key:nth-child(14),
    .key:nth-child(15),
    .key:nth-child(16),
    .key:nth-child(17){
     display: none;
    }
    
    .key-container span{
     position: absolute;
     bottom: 20px;
     width: 100%;
     text-align: center;
    }   
  }
  
